<!--<div>TODO: remove valCouranteControles[0] {{valCouranteControles[0]}}</div>
<div>TODO: remove this.objets {{objets | json}}</div>-->
<div class="container-fluid">
  <form #voirForm="ngForm">
    <div class="row mt-3 form-group">
      <div *ngIf="valeursCourantes.objet" class="mr-3 ml-2">
        <label for="objet">Objet</label>
        <select class="form-control" id="objet" [(ngModel)]="valeursCourantes.objet" (ngModelChange)="synchroObjet('objet')" required name=" objet">
          <option *ngFor="let obj of objetsC" [value]="obj">{{obj}}</option>
        </select>
      </div>

      <div *ngIf="valeursCourantes.nature" class="mr-3">
        <label for="nature">Nature</label>
        <select class="form-control" id="nature" [(ngModel)]="valeursCourantes.nature" (ngModelChange)="synchroObjet('nature')" required name="nature">
          <option *ngFor="let nat of naturesC" [value]="nat">{{nat}}</option>
        </select>
      </div>

      <div *ngIf="valeursCourantes.statut" class="mr-3">
        <label for="statut">Statut</label>
        <select class="form-control" id="statut" [(ngModel)]="valeursCourantes.statut" (change)="synchroObjet('statut')" required name="statut">
          <option *ngFor="let stat of statutsC" [value]="stat">{{stat}}</option>
        </select>
      </div>

      <div *ngIf="valeursCourantes.domaine" class="mr-3">
        <label for="domaine">Domaine</label>
        <select class="form-control" id="domaine" [(ngModel)]="valeursCourantes.domaine" (change)="synchroObjet('domaine')" required name="domaine">
          <option *ngFor="let dom of domainesC" [value]="dom">{{dom}}</option>
        </select>
      </div>

      <div *ngIf="valeursCourantes.sousDomaine" class="mr-3">
        <label for="sousDomaine">Sous-domaine</label>
        <select class="form-control" id="sousDomaine" [(ngModel)]="valeursCourantes.sousDomaine" (change)="synchroObjet('sousDomaine')"
          required name="sousDomaine">
          <option *ngFor="let sous of sousDomainesC" [value]="sous">{{sous}}</option>
        </select>
      </div>
    </div>
  </form>

</div>
