<h2>Listage du contenu des tables fixes</h2>
<ul>
  <p>Table Domaines</p>
  <li *ngFor="let domaine of domaines">
    <span>{{ domaine.id }}</span> {{ domaine.domaine }}
  </li>
</ul>

<ul>
  <p>Table SousDomaines</p>
  <li *ngFor="let sousDomaine of sousDomaines">
    <span>{{ sousDomaine.id }}</span> {{ sousDomaine.sousDomaine }}
  </li>
</ul>

<ul>
  <p>Table Natures</p>
  <li *ngFor="let nature of natures">
    <span>{{ nature.id }}</span> {{ nature.nature }}
  </li>
</ul>
<ul>
  <p>Table Statuts</p>
  <li *ngFor="let statut of statuts">
    <span>{{ statut.id }}</span> {{ statut.statut }}
  </li>
</ul>




